<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Loops (Need) Exercises</span></div>

Exercise 1

In [1]:
temperatures_celsius = [
    0, 5, 10, 15, 20, 25,
    30, 35, 40, 45, 50
]

In [4]:
import numpy as np

In [5]:
np_temp_celsius = np.array(temperatures_celsius)

In [6]:
temp_fahrenheit = (np_temp_celsius * 9/5) + 32

In [7]:
for t in range(len(temperatures_celsius)):
    celsius = temperatures_celsius[t]
    fahrenheit = temp_fahrenheit[t]
    print(f"{celsius} in celsius is {fahrenheit} in fahrenheit")

0 in celsius is 32.0 in fahrenheit
5 in celsius is 41.0 in fahrenheit
10 in celsius is 50.0 in fahrenheit
15 in celsius is 59.0 in fahrenheit
20 in celsius is 68.0 in fahrenheit
25 in celsius is 77.0 in fahrenheit
30 in celsius is 86.0 in fahrenheit
35 in celsius is 95.0 in fahrenheit
40 in celsius is 104.0 in fahrenheit
45 in celsius is 113.0 in fahrenheit
50 in celsius is 122.0 in fahrenheit

Exercise 2

In [8]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t')
    print('\n')

A1	A2	A3

B1	B2	B3

C1	C2	C3

In [9]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}')

A1
A2
A3
B1
B2
B3
C1
C2
C3

In [10]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}')     # print('\n') adds a space betwwen each letter
    print('\n')

A1
A2
A3


B1
B2
B3


C1
C2
C3

In [11]:
for letter in ['A', 'B', 'C']:
    for number in [1, 2, 3]:
        print(f'{letter}{number}', end='\t') #end='\t'adds a space between each elememt horizontally

A1	A2	A3	B1	B2	B3	C1	C2	C3

TASK

In [12]:
one = [1, 2, 3, 4, 5]
two = [2, 4, 6, 8, 10]
three = [3, 6 ,9 ,12, 15]
four = [4, 8, 12, 16, 20] 
five = [5, 10, 15, 20, 25]

In [13]:
for n in range(1, 6):
    for number in [one, two, three, four, five]:
        if n == number[0]:
            print(f'{n}:{number}')

1:[1, 2, 3, 4, 5]
2:[2, 4, 6, 8, 10]
3:[3, 6, 9, 12, 15]
4:[4, 8, 12, 16, 20]
5:[5, 10, 15, 20, 25]